<div class="container">
  <div class="fullwidth-small">
    <h1>Accounts Overview - {{ users$[0].name }}</h1>
  </div>
  <div class="flex-grid">
    <nav class="col-3">
      <ul class="side-nav">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/details">Account Details</a></li>
        <li><a href="/transfer">Transfer</a></li>
        <li><a href="/openaccount">Open an Account</a></li>
      </ul>
    </nav>
    <div class="col-9">
      <table>
        <tr>
          <th>Accounts</th>
          <th>Balance</th> 
        </tr>
        <tr>
          <td><a href="#">Checking</a></td>
          <td>$5,000</td> 
        </tr>
        <tr>
          <td><a href="#">Savings</a></td>
          <td>$15,000</td> 
        </tr>
        <tr>
          <td><a href="#">Corp</a></td>
          <td>$3,000</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <h3>Header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut diam dapibus, iaculis sapien in, consectetur nibh. Cras vitae diam non est dignissim tristique. Aliquam erat volutpat. In rutrum bibendum est, vel fringilla metus. Pellentesque faucibus magna eleifend tincidunt euismod. Mauris ornare porttitor quam aliquet aliquet. Praesent non metus posuere, efficitur dui ac, pharetra neque. Nunc ac velit elit. Fusce ac sapien vel ante suscipit tristique ut ut mauris.</p>
    </div>
    <div class="col-6">
        <h3>Header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut diam dapibus, iaculis sapien in, consectetur nibh. Cras vitae diam non est dignissim tristique. Aliquam erat volutpat. In rutrum bibendum est, vel fringilla metus. Pellentesque faucibus magna eleifend tincidunt euismod. Mauris ornare porttitor quam aliquet aliquet. Praesent non metus posuere, efficitur dui ac, pharetra neque. Nunc ac velit elit. Fusce ac sapien vel ante suscipit tristique ut ut mauris.</p>
    </div>
  </div>
</div>
