<div class="signup-div">
  <div class="col-6">
    <h1 class="large-header">Banking Enrollment</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut diam dapibus, iaculis sapien in, consectetur nibh. Cras vitae diam non est dignissim tristique. Aliquam erat volutpat.</p> 
    
    <p>In rutrum bibendum est, vel fringilla metus. Pellentesque faucibus magna eleifend tincidunt euismod. Mauris ornare porttitor quam aliquet aliquet. Praesent non metus posuere, efficitur dui ac, pharetra neque. Nunc ac velit elit. Fusce ac sapien vel ante suscipit tristique ut ut mauris.</p>
    <!-- <form id="account-type">
        <legend>Select enrollment option</legend>
    
        <div>
          <label id="account" class="radio-container">
            <input 
              type="radio" 
              name="account" 
              value="account" 
              aria-labelledby="account"
            />
            <span class="radio"></span>
          Your Bank Account</label>
        </div>
    
        <div>
          <label id="credit" class="radio-container">
            <input 
              type="radio" 
              name="account" 
              value="credit card" 
              aria-labelledby="credit"
            />
            <span class="radio"></span>
          Your Bank Personal Credit Card</label>
        </div>
    
        <div>
          <label id="investment" class="radio-container">
            <input 
              type="radio" 
              name="account" 
              value="investment account" 
              aria-labelledby="investment"
            />
            <span class="radio"></span>
          Your Bank Investment Account</label>
        </div>
      </form> -->
      <hr>
      <form id="sign-up">
        <label id="name">
          Email:<br>
          <input id="email" class="input-text" type="text" name="email" placeholder="email"><br>
          Password:<br>
          <input id="pass" class="input-text" type="text" name="password" placeholder="password">
        </label><br>
        <input class="button" type="button" name="Sign up" value="Sign up">
      </form>
  </div>
</div>
