footer {
    background: #335130;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}